<p>Hi, {{currentUser.displayName}}!</p>
<h1>Beacon Details</h1>

<p>Beacon User Name {{dataValues.User.dataValues.displayName}}</p>
<p>Beacon Title {{dataValues.title}}</p>
<p>Beacon Category {{dataValues.category}}</p>
<p>Beacon Description {{dataValues.description}}</p>
<p>Beacon Address {{dataValues.address}}</p>
<p>Beacon Start Time {{dataValues.startTime}}</p>
{{!-- <p>Beacon End Time {{endTime}}</p> --}}
<p>Beacon Date {{dataValues.date}}</p>
{{!-- <p>Comment User Name {{Comment.User.displayName}}</p>
<p>Comment Body {{Comment.body}}</p> --}}