{{!-- <script>
function initMap() {
  var urlArray = window.location.href.split("/")
  var urlID = urlArray[-1]
  $.get("/api/beacons/" + urlID,).then(
    function(beacon) {
      console.log(beacon);
      var beacon = { lat: beacon.datavalues.latitude, lng: beacon.dataValues.longitude };
      // The map, centered at BEACON
      var map = new google.maps.Map(document.getElementById("beacon-map"), {
        zoom: 4,
        center: beacon
      });
      // The marker, positioned at beacon
      var marker = new google.maps.Marker({ position: beacon, map: map });
    }
  );
}

</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=" + process.env.keyskeys + "&callback=initMap">
</script> --}}


<p>Hi, {{currentUser.displayName}}!</p>
<h1>Beacon Details</h1>

<p>
  <a href="/profile/{{dataValues.User.dataValues.id}}">Beacon User Name
    {{dataValues.User.dataValues.displayName}}</a>
</p>
<p>Beacon Title {{dataValues.title}}</p>
<p>Beacon Category {{dataValues.category}}</p>
<p>Beacon Description {{dataValues.description}}</p>
<p>Beacon Address {{dataValues.address}}</p>
<p>Beacon Start Time {{dataValues.startTime}}</p>
{{!-- <p>Beacon End Time {{endTime}}</p> --}}
<p>Beacon Date {{dataValues.date}}</p>
<div id="beacon-map" style="width: 400px; height: 200px;"></div>

<form id="form-comment">
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
  <input id="btn-comment" type="submit" value="Leave Comment">
</form>

{{!-- <p>Comment User Name {{Comment.User.displayName}}</p>
<p>Comment Body {{Comment.body}}</p> --}}

