{{> header}}
<div class="container">
  <h1>{{dataValues.title}}</h1>
  <p>
    <a href="/profile/{{dataValues.User.dataValues.id}}">
      Posted by {{dataValues.User.dataValues.displayName}}</a>
  </p>
  <div class="details-container d-flex justify-content-around">
    <div class="details-main">
      <p>{{dataValues.category}}</p>
      <p>{{dataValues.description}}</p>
    </div>
    <div class="details-aside">
      <p>{{dataValues.address}}</p>
      <p>{{dataValues.startTime}}</p>
      {{!-- <p>Beacon End Time {{endTime}}</p> --}}
      <p>Beacon Date {{dataValues.date}}</p>
    </div>
  </div>
  <div id="beacon-map" style="width: 100%; height: 200px; background: #c2c2c2;"></div>
  {{!-- Comment Form --}}
  <form id="form-comment">
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <input id="btn-comment" type="submit" value="Leave Comment">
  </form>

  {{!-- Comments --}}
  <div id="comment-container"></div>
</div>
{{> footer}}