<script>
function initMap() {
  var urlArray = window.location.href.split("/")
  var urlID = urlArray[urlArray.length - 1]
  $.get("/api/beacons/" + urlID,).then(
    function(foundBeacon) {
      console.log(foundBeacon);
      var beacon = { lat: foundBeacon.latitude, lng: foundBeacon.longitude };
      // The map, centered at BEACON
      console.log(beacon)
      var map = new google.maps.Map(document.getElementById("beacon-map"), {
        zoom: 12,
        center: beacon
      });
      // The marker, positioned at beacon
      var marker = new google.maps.Marker({ 
        position: beacon,
        map: map,
        icon: "https://i.postimg.cc/fLMPccmV/beacon-icon-lit.png",
        });
    }
  );
}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap">
</script>
{{> header}}

<div class="container">

  {{!-- Beacon Container --}}
  <div class="beacon-container">
    <div class="beacon-buttons">
      <div class="btn-delete btn btn-sm btn-danger" data-id="{{beacon.dataValues.id}}">Delete</div>
      <div class="btn-edit btn btn-sm btn-warning" data-id="{{beacon.dataValues.id}}">Edit</div>
    </div>
    <div class="beacon-details d-flex justify-content-between">
      <div class="beacon-main">
        <h1>{{beacon.dataValues.title}}</h1>
        <p>
          <a href="/profile/{{beacon.dataValues.User.dataValues.id}}">
            Posted by {{beacon.dataValues.User.dataValues.displayName}}</a>
        </p>
        <p>{{beacon.dataValues.category}}</p>
      </div>

      <div class="beacon-aside">
        <p>{{beacon.dataValues.address}}</p>
        <p>Start: {{beacon.dataValues.startTime}}</p>
        {{#if beacon.dataValues.endTime}}
        <p>End: {{beacon.dataValues.endTime}}</p>
        {{/if}}
        <p>{{beacon.dataValues.date}}</p>
      </div>
    </div>
    <hr>
    <p class="text-justify">{{beacon.dataValues.description}}</p>
    <div id="beacon-map"></div>
  </div>

  {{!-- Comment Form --}}
  <div class="comment-container my-3">
    <form id="form-comment">
      <div class="form-group">
        <label for="body">Leave a Comment</label>
        <textarea class="form-control" name="body" id="body" cols="30"
          rows="4"></textarea>
      </div>
      <input class="btn btn-primary btn-block" id="btn-comment" type="submit"
        value="Submit">
    </form>

    {{!-- Comments --}}
    <div id="comments"></div>
  </div>

</div>

{{> footer}}

<script src="/js/comment.js"></script>
<script src="/js/edit-delete.js"></script>