<script>
function initMap() {
  var urlArray = window.location.href.split("/")
  var urlID = urlArray[urlArray.length - 1]
  $.get("/api/beacons/" + urlID,).then(
    function(foundBeacon) {
      console.log(foundBeacon);
      var beacon = { lat: foundBeacon.latitude, lng: foundBeacon.longitude };
      // The map, centered at BEACON
      console.log(beacon)
      var map = new google.maps.Map(document.getElementById("beacon-map"), {
        zoom: 4,
        center: beacon
      });
      // The marker, positioned at beacon
      var marker = new google.maps.Marker({ position: beacon, map: map });
    }
  );
}

</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap">
</script>
<p>Hi, {{currentUser.displayName}}!</p>
<h1>Beacon Details</h1>

<p>
  <a href="/profile/{{beacon.dataValues.User.dataValues.id}}">Beacon User
    Name
    {{beacon.dataValues.User.dataValues.displayName}}</a>
</p>
<p>Beacon Title {{beacon.dataValues.title}}</p>
<p>Beacon Category {{beacon.dataValues.category}}</p>
<p>Beacon Description {{beacon.dataValues.description}}</p>
<p>Beacon Address {{beacon.dataValues.address}}</p>
<p>Beacon Start Time {{beacon.dataValues.startTime}}</p>
{{!-- <p>Beacon End Time {{endTime}}</p> --}}
<p>Beacon Date {{beacon.dataValues.date}}</p>
<div id="beacon-map" style="width: 400px; height: 200px;"></div>

<form id="form-comment">
  <textarea name="body" id="body" cols="30" rows="10"></textarea>
  <input id="btn-comment" type="submit" value="Leave Comment">
</form>

<div id="comment-container"></div>
{{!-- <p>Comment User Name {{Comment.User.displayName}}</p>
<p>Comment Body {{Comment.body}}</p> --}}
