<script>
function initMap() {
  var urlArray = window.location.href.split("/")
  var urlID = urlArray[urlArray.length - 1]
  $.get("/api/beacons/" + urlID,).then(
    function(foundBeacon) {
      console.log(foundBeacon);
      var beacon = { lat: foundBeacon.latitude, lng: foundBeacon.longitude };
      // The map, centered at BEACON
      console.log(beacon)
      var map = new google.maps.Map(document.getElementById("beacon-map"), {
        zoom: 4,
        center: beacon
      });
      // The marker, positioned at beacon
      var marker = new google.maps.Marker({ position: beacon, map: map });
    }
  );
}
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=initMap">
</script>
{{> header}}

<div class="container">
  <h1>{{dataValues.title}}</h1>
  <p>
    <a href="/profile/{{dataValues.User.dataValues.id}}">
      Posted by {{dataValues.User.dataValues.displayName}}</a>
  </p>
  <div class="details-container d-flex justify-content-around">
    <div class="details-main">
      <p>{{dataValues.category}}</p>
      <p>{{dataValues.description}}</p>
    </div>
    <div class="details-aside">
      <p>{{dataValues.address}}</p>
      <p>{{dataValues.startTime}}</p>
      {{!-- <p>Beacon End Time {{endTime}}</p> --}}
      <p>Beacon Date {{dataValues.date}}</p>
    </div>
  </div>
  <div id="beacon-map" style="width: 100%; height: 200px; background: #c2c2c2;"></div>
  {{!-- Comment Form --}}
  <form id="form-comment">
    <textarea name="body" id="body" cols="30" rows="10"></textarea>
    <input id="btn-comment" type="submit" value="Leave Comment">
  </form>

  {{!-- Comments --}}
  <div id="comment-container"></div>
</div>
{{> footer}}
