{{> header}}
<script>


var userLat;
var userLng;

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
  userLat  = 35.227085;
  userLng = -80.843124;
  initMap()
}

function success(pos){
  userLat = pos.coords.latitude
  userLng = pos.coords.longitude
  console.log(userLat, userLng)
  initMap()
}

function findMap() {
navigator.geolocation.getCurrentPosition(success, error, options);
}

function initMap() {
  var map = new google.maps.Map(document.getElementById('beacon-map'), {
    center: new google.maps.LatLng(userLat, userLng),
    zoom: 10
  });
  var infoWindow = new google.maps.InfoWindow;

    // This grabs all the beacons from the database
    $.get('/api/beacons').then(function(beaconList) {
      //Loops through those beacons and creates markers
      for (beacon of beaconList) {
        console.log(beacon)
        
        var id = beacon.id;
        var name = beacon.title;
        var address = beacon.address;
        var type = beacon.category;
        var point = new google.maps.LatLng(
            parseFloat(beacon.latitude),
            parseFloat(beacon.longitude));

        var infowincontent = document.createElement('div');
        var strong = document.createElement('strong');
        strong.textContent = name
        infowincontent.appendChild(strong);
        infowincontent.appendChild(document.createElement('br'));

        var text = document.createElement('text');
        text.textContent = address
        infowincontent.appendChild(text);
        var icon = "https://i.postimg.cc/fLMPccmV/beacon-icon-lit.png"
        var marker = new google.maps.Marker({
          zIndex: id,
          url: "/beacon/" + id,
          map: map,
          position: point,
          icon: icon,
          draggable: false,
          animation: google.maps.Animation.DROP
        });
        //google.maps.event.addListener(marker,'mouseover', function() {
          //infoWindow.setContent(infowincontent);
          //infoWindow.open(map, marker);
        //});
        google.maps.event.addListener(marker,'click', function() {
          window.location.href = this.url;
        });
      };
    });
  }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=findMap">
</script>
<div>
<div id="beacon-map" style="width: 100%; height: 600px; background: #c2c2c2;"></div>
</div>

{{#each foundBeacons}}
<a href="/beacon/{{dataValues.id}}">
  <p>Beacon Title {{dataValues.title}}</p>
  <p>Beacon Category {{dataValues.category}}</p>
  <p>Beacon Start Time {{dataValues.startTime}}</p>
  {{!-- <p>Beacon End Time {{dataValues.endTime}}</p> --}}
  <p>Beacon Date {{dataValues.date}}</p>
</a>
{{/each}}

{{> footer}}