<script>


var userLat;
var userLng;

var options = {
  enableHighAccuracy: true,
  timeout: 5000,
  maximumAge: 0
};
function error(err) {
  console.warn(`ERROR(${err.code}): ${err.message}`);
  userLat  = 35.227085;
  userLng = -80.843124;
  initMap()
}

function success(pos){
  userLat = pos.coords.latitude
  userLng = pos.coords.longitude
  console.log(userLat, userLng)
  initMap()
}

function findMap() {
navigator.geolocation.getCurrentPosition(success, error, options);
}

function initMap() {
  var map = new google.maps.Map(document.getElementById('beacon-map'), {
    center: new google.maps.LatLng(userLat, userLng),
    zoom: 10
  });
  var infoWindow = new google.maps.InfoWindow;

    // This grabs all the beacons from the database
    $.get('/api/beacons').then(function(beaconList) {
      //Loops through those beacons and creates markers
      for (beacon of beaconList) {
        console.log(beacon)
        
        var id = beacon.id;
        var name = beacon.title;
        var address = beacon.address;
        var type = beacon.category;
        var point = new google.maps.LatLng(
            parseFloat(beacon.latitude),
            parseFloat(beacon.longitude));

        var infowincontent = document.createElement('div');
        var strong = document.createElement('strong');
        strong.textContent = name
        infowincontent.appendChild(strong);
        infowincontent.appendChild(document.createElement('br'));

        var text = document.createElement('text');
        text.textContent = address
        infowincontent.appendChild(text);
        var icon = "https://i.postimg.cc/h4rcJzwG/beak-color-lit.png"
        var marker = new google.maps.Marker({
          zIndex: id,
          url: "/beacon/" + id,
          map: map,
          position: point,
          icon: icon,
          draggable: false,
          animation: google.maps.Animation.DROP
        });
        //google.maps.event.addListener(marker,'mouseover', function() {
          //infoWindow.setContent(infowincontent);
          //infoWindow.open(map, marker);
        //});
        google.maps.event.addListener(marker,'click', function() {
          window.location.href = this.url;
        });
      };
    });
  }
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key={{apiKey}}&callback=findMap">
</script>
{{!-- Start HTML --}}
{{> header}}

<div class="container mt-3">

  <div class="header d-flex justify-content-between">
    <h2>Search for a Beacon</h2>
    <button id="btn-map" class="btn-view-toggle visible btn
      btn-outline-secondary btn-sm">Map View</button>
    <button id="btn-map" class="btn-view-toggle hidden btn btn-outline-secondary
      btn-sm">List
      View</button>
  </div>

  <div class="map my-3 hidden">
    <div id="beacon-map"></div>
  </div>

  <div id="beacon-list" class="list my-3 visible">
    <div class="row">
      {{#each foundBeacons}}
      <div class="col-lg-4 col-6 mb-4">
        <a class="beacon-link" href="/beacon/{{dataValues.id}}">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{dataValues.title}}</h5>
              <p class="card-text">{{dataValues.category}}</p>
              <p class="card-text">{{dataValues.startTime}}</p>
              {{#if dataValues.endTime}}
              <p class="card-text">{{dataValues.endTime}}</p>
              {{/if}}
              <p class="card-text">{{dataValues.date}}</p>
            </div>
          </div>
        </a>
      </div>
      {{/each}}
    </div>

  </div>

</div>

{{> footer}}

<script src="/js/browse.js"></script>