{{> header}}

<div class="container">

  <h1>This is the User Profile Page</h1>

  {{!-- User information --}}
  <p>{{currentUser.firstName}}</p>

  {{!-- Beacons by the user --}}
  <div class="list-beacons">
    {{#each Beacons}}
    <a href="/beacon/{{dataValues.id}}">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{dataValues.title}}</h5>
          <p class="card-text">{{dataValues.category}}</p>
          <p class="card-text">{{dataValues.startTime}}</p>
          {{#if dataValues.endTime}}
          <p class="card-text">{{dataValues.endTime}}</p>
          {{/if}}
          <p class="card-text">{{dataValues.date}}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>

  {{!-- Comments left by the user --}}
  <div class="list-comments">
    {{#each Comments}}
    <a href="/beacon/{{dataValues.BeaconId}}">
      <div class="card">
        <div class="card-body">
          <p class="card-text">{{dataValues.body}}</p>
        </div>
      </div>
    </a>
    {{/each}}
  </div>

</div>

{{> footer}}